@import 'variables';

.current-episode {
  background-color: $dark !important;
  color: $white !important;
  &:hover {
    background-color: $white !important;
    color: $dark !important;
  }
}

.tutorials-main-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  &-item {
    width: 100%;
    display: block;
    text-decoration: none;
    color: $dark;
    border: 2px solid $dark;
    .tutorial-menu-thumb {
      background-color: red;
      width: 100% !important;
      img {
        display: block;
        object-fit: cover;
      }
    }
    .tutorial-menu-title {
      display: block;
      padding: 0 5px 5px 10px;
    }
  }
}
.tutorial-main-menu-title {
  color: $dark;
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 15px;
}

.mobile {
  display: none;
}
.btn-change-episode {
  background-color: $dark;
  color: $light;
  display: block;
  padding: 8px 0;
  width: 100%;
  border-radius: 3px;
  transition: 0.15s;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: $green !important;
    // box-shadow: 2px 2px 0 $dark;
  }
}
.btn-disabled {
  color: $dark;
  background-color: $light;
  display: block;
  padding: 8px 0;
  width: 100%;
  border-radius: 3px;
  border: 1px solid $dark;
  cursor: not-allowed;
  height: 100%;
}

.tutorial-page-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  &__left {
    padding-top: 0px;
    padding: 10px;
    &__video {
      width: 100%;
      height: 55vh;
      box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.04);
      border-radius: 3px;
      margin-bottom: 8px;
      background-color: $gray;
    }
    &__video-detail-button {
      display: flex;
      // align-items: center;
      justify-content: space-between;
      margin-bottom: 8px;
      &__video-detail {
        &__series-name {
          color: $dark;
          font-size: 1.9em;
        }
        &__episode-title {
          color: $dark;
          font-size: 1.3em;
          font-weight: 600;
          margin-bottom: 10px;
        }
      }
      &__button {
        margin-top: 10px;
        &__change-episode {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 10px;
          width: 200px;
        }
      }
    }
    &__list-episode {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
      margin-bottom: 10px;
      &__episode {
        border-radius: 4px;
        position: relative;
        display: block;
        text-decoration: none;
        background-color: $light;
        color: $dark;
        border: 1px solid $dark;
        padding: 10px;
        transition: 0.15s;
        &:hover {
          background-color: $dark;
          color: $light;
        }
        &__episode-title {
          display: grid;
          grid-template-columns: 30px 1fr;
          font-size: 0.9em;
        }
      }
    }
    .load-more {
      width: 50%;
      margin-bottom: 10px;
      margin-top: 20px;
    }
    &__other-series {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
      .other-series-item {
        position: relative;
        overflow: hidden;
        border: 2px solid $dark;
        text-decoration: none;
        display: block;
        border-radius: 5px;
        .series-thumb {
          width: 100%;
        }
        &_name {
          font-size: 0.8em;
          color: $dark;
          padding: 0 5px 5px 10px;
        }
      }
    }
  }
  &__right {
    padding: 5px;
    &__title {
      font-size: 1.2em;
      color: $dark;
      font-weight: 500;
      margin-bottom: 10px;
    }
    &__editor {
      padding: 10px;
      font-family: 'JetBrains Mono', monospace;
      display: block;
      width: 100%;
      height: 55vh;
      margin-bottom: 10px;
      border-radius: 4px;
      outline-color: $green;
      border: 2px solid $green;
    }
    &__button-wrapper {
      margin-bottom: 13px;
    }
    .message {
      font-size: 0.9em;
      margin-bottom: 10px;
      &-success {
        border: 2px solid $darkgreen;
        padding: 10px;
        border-radius: 4px;
        color: $darkgreen;
      }
      &-failed {
        border-radius: 4px;
        border: 2px solid $red;
        padding: 10px;
        .error-message {
          display: block;
          color: $red;
          margin-bottom: 5px;
        }
      }
    }
  }
}
.output-title {
  color: $dark;
  margin-bottom: 5px;
}
.console-output {
  font-size: 1em;
  font-family: 'JetBrains Mono', monospace;
  display: block;
  margin-bottom: 5px;
  .output-index {
    font-style: italic;
  }
}

ul.allEpisodesContainer {
  font-family: 'JetBrains Mono', monospace;
  li {
    list-style: none;
    a {
      text-decoration: none;
      color: $green;
    }
  }
}

.hide {
  display: none !important;
}

@media (max-width: 768px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}
